/test2/
*__pycache__/
*.mypy_cache/
*/tests/dst/
/temp*
/test2/
*/tests/stdout.json
tests/1.txt
.gitignore
tests/2
tests/2_2
tests/2_simple
tests/22
tests/out1.txt
tests/out.txt
tests/out/out*.json


tests/out/out*.txt
tests/out/time.txt
tests/out/temp/out*.*
